.header {
  padding-top: 45px;
  border-bottom: 1px solid #545454B3;

  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 425px) {
  .header {
    padding-top: 28px;
  }
}