.registration-login__title {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  line-height: normal;
  margin: 0 0 50px;
}