.place__delete-button {
  background: url(../../../images/delete-ico.svg) no-repeat center / contain;
  width: 18px;
  height: 19px;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: opacity 0.2s ease;
}
.place__delete-button:hover {
  cursor: pointer;
  opacity: 0.6;
}