.popup__input {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #00000033;
  margin-bottom: 5px;
}

