.profile__description {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #FFFFFF;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 455px;
}

@media screen and (max-width: 960px) {
  .profile__description {
    max-width: 350px;
  }
}
@media screen and (max-width: 768px) {
  .profile__description {
    max-width: 460px;
  }
}
@media screen and (max-width: 560px) {
  .profile__description {
    max-width: 315px;
  }
}
@media screen and (max-width: 425px) {
  .profile__description {
    font-size: 14px;
    text-align: center;
    margin: 0 28px 33px;
    max-width: 227px;
  }
}