.logo {
  background-image: url(../../images/logo.svg);
  background-size: cover;
  width: 142px;
  height: 33px;
  margin-bottom: 41px;
}

@media screen and (max-width: 960px) {
  .logo {
    margin-left: 27px;
  }
}
@media screen and (max-width: 425px) {
  .logo {
  width: 103.74px;
  height: 24.4px;
  margin-bottom: 31.6px;
  }
}